.floatl{
    float: left;
}
.floatr{
    float: right;
}
.clearl{
    clear: left;
    width: 0px!important; 
    height: 0px!important;
}

.clearr{
    clear: right;
    width: 0px!important; 
    height: 0px!important;
}
.clearBoth{
    clear: right;
    width: 0px!important; 
    height: 0px!important;
}
